.tabs dd > a {
	float: left;
	width: 96px;
	

}

/* for tab 1*/
.tabs dd.active a {
	background: lightgreen;

	transition: background 1s;
}

img {
	 display: block;
    margin-left: auto;
    margin-right: auto;
}